<!Doctype HTML>
<html>
<head>
	<title></title>
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	
	
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	</head>


<body>
	
	<div id="mySidenav" class="sidenav">
	<p class="logo"><span>B</span>UGA-TECH</p>
 
  <a href="technicianhome"class="icon-a"><i class="fa fa-users icons"></i> &nbsp;&nbsp;New Devices</a>
  <a href="tpending"class="icon-a"><i class="fa fa-list icons"></i> &nbsp;&nbsp;Pending Devices</a>
  <a href="tready"class="icon-a"><i class="fa fa-shopping-bag icons"></i> &nbsp;&nbsp;Ready Devices</a>
  <a href="tfailed"class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Failed Devices</a>
  <a href="technicianbranchscope"class="icon-a"><i class="fa fa-user icons"></i> &nbsp;&nbsp;Branch Scope</a>
  <a href="customercreateacc"class="icon-a"><i class="fa fa-list-alt icons"></i> &nbsp;&nbsp; Customer Record</a>
  

</div>
<div id="main" style="height:100vh; overflow-y:scroll;">

	<div class="head">
		<div class="col-div-6">
<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >&#9776; Dashboard</span>
<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >&#9776; Dashboard</span>
</div>
	
	<div class="col-div-6">
<!--	<div class="profile">

		<img src="images/user.png" class="pro-img" />
		<p>Manoj Adhikari <span>UI / UX DESIGNER</span></p>
	</div> -->
	<div class="profile">

		<a class="btn btn-outline-success" href="tlogout" style="color:white;">logout</a>
	</div> 
	
</div>
	<div class="clearfix"></div>
</div>


	
	
	<!-- table div -->
	
	<div class="col-div-12">
		<div class="box-12">
		  
		  
		<div class="content-box">
<div style="padding-top:10px;"> 

<br>
  
  <h3>Choose spares</h3> <br>
  
  <div class="alert alert-primary" role="alert">
  <p class="mainalert"> <%= locals.message ? message : 'welcome'%></p>
</div>
  <div style="background:transparent; border:none; color:orange; font-size:30px;" class="alert alert-secondary" role="alert">
  <p id="alertptag2"> </p>
</div>
</div>
			<br/>
	  <form id="spareform" method="post" >
        <br>
<div class="orderbuttondiv" style="   display:flex; justify-content:center; " >
<div>
<button  id="orderbutton" type="submit" class="btn btn-outline-primary">Order Spare</button>
</div>
</div> <br>
<div class="myselect" style="display:flex; justify-content:center;">
<select id="selectlevel" name="level" class="form-select" >
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select><br>

  <input type="text" id="deviceid" hidden value="<%= deviceid %>">
  <input type="text" id="customerid" hidden value="<%= customerid %>">
</div>
<br>
     
<div  class="table-responsive">
 <table class="table">
  <caption>List of users</caption>
  <thead>

    <tr>

      <th scope="col">spare id</th>
      
      <th scope="col">branch</th>

      <th scope="col">spare name</th>

  <th scope="col">spare stock amount </th>

      <th scope="col">total charge</th>
      
  <th scope="col">select quantity</th>

   <th scope="col">select spare</th>
      
    </tr>

  </thead>

  <tbody>

<% 
console.log("hello ive started looping")
if(rows.length > 0){  
var id = 1;
    rows.forEach( (row) => {
  var spareamount = parseInt(row.spareamount)
  
  if(spareamount <= 0){  %>

      <tr>

      <th scope="row"><%= id %></th>
      
           <td><%= branchname%></td>

      <td><%= row.sparename%></td>

      <td><%= row.spareamount%></td>

      <td><%= row.totalcharge%></td>
             <td>
 <span> spare is out of stock </span>
 </td>
  <td><span>wait for new stock</span></td>
 
   </tr>
<%   }  else if( spareamount > 0 ){
   
  %>
      

    <tr>

      <th scope="row"><%= id %></th>
      
           <td><%= branchname%></td>

      <td><%= row.sparename%></td>

      <td><%= row.spareamount%></td>

      <td><%= row.totalcharge%></td>
             <td>
 <input type="number" id="quantity" value="1" name="quantity" placeholder="enter spare quantity"> 
            </td>
 <td>
  <input style="width:50px; height:30px; "type="checkbox">
</td>
  
              <td>
  <input type="text" id="record" name="record" value="<%= row.spareid%>" hidden>
  </td>
<td>
 <input type="text" id="spareprice" name="spareprice"  value="<%= row.totalcharge%>" hidden>
   </td>
</tr>
   
   
<%  id++; } }) %>
<% }else{%>
<div> THERE IS NO DATA TO PRESENT</div>

 <% }%>
 
  </tbody>
</table>
</div>
      </form>

		</div>
	</div>
	</div>


		
	<div class="clearfix"></div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script type="text/javascript">
   
   
document.addEventListener('DOMContentLoaded', function(e){
      var alertptag2 = document.querySelector("#alertptag2")
   var mainalert = document.querySelector(".mainalert")
    var select = document.querySelector("#selectlevel").value
     var deviceid = document.querySelector("#deviceid").value
   var customerid = document.querySelector("#customerid").value
var spareform = document.getElementById("spareform")
//spareform.style="background-color:red;"

var quantity;
var spareid;
var spareprice;
var sparename;
var spareamount;

var sarray = new Array()
var sparesarray = new Array()

spareform.addEventListener('click',(event)=>{ 

var target = event.target

if(target.getAttribute("type") == "checkbox" ){
var checkbox = target
/*checkbox.addEventListener("change",(event)=>{*/
if(checkbox.checked){ 
 // alert('im checked')

 
var td = checkbox.parentElement
var tr = td.parentElement
var trchildren = tr.children

//console.log(trchildren)
spareid = trchildren[7].children[0].value
sparename= trchildren[2].textContent
//console.log(spareid)
//console.log(sparename)
spareamount = parseInt(trchildren[3].textContent)


quantity = parseInt(trchildren[5].children[0].value)


var quantityinput = trchildren[5].children[0]
spareprice = trchildren[8].children[0].value

//console.log(quantity)
//console.log("result count")
//console.log(spareamount)
//console.log(quantity)

var result = spareamount - quantity
//console.log(result)

if(result < 0){ 
  alert("The quantity you chose for "+ sparename +" is more than what is in stock")
var messageone = "please choose a quantity that is less than that in stock";
alertptag2.textContent = messageone

}

else if(result > -1){ 
quantityinput.setAttribute("readonly","")
sarray = [spareid,sparename,quantity,spareprice]
sparesarray.push(sarray)
//console.log(sparesarray)

}



}else if(!checkbox.checked){ 
 // alert('im unchecked')

var td = checkbox.parentElement
var tr = td.parentElement
var trchildren = tr.children

spareid = trchildren[7].children[0].value
quantity = trchildren[5].children[0].value
//console.log(quantity)

//alert('youve remove this spare : '+ sparesarray[1])
//console.log(sparesarray)
var quantityinput = trchildren[5].children[0]
quantityinput.removeAttribute("readonly")
//console.log(sparesarray.length)

for(var x = 0; x < sparesarray.length; x++){

var index = sparesarray[x].indexOf(spareid)
console.log(sparesarray[x])
if(index > -1 ){ 
var removed = sparesarray.splice([x],1)
//alert(removed)
//console.log("removed")
//console.log(removed)
x--
}

}
}
//})
}else if(target.getAttribute("type")=="submit"){
event.preventDefault()
console.log(sparesarray.length)
if(sparesarray.length == 0){ 

var messageone = "Please choose atleast one spare";
alertptag2.textContent = messageone

}else{

var data ={
sparesarray:sparesarray,
selectlevel: select,
deviceid : deviceid,
customerid : customerid
}

var options = {
method : 'POST',
headers : { 'content-type': 'application/json' },
body:JSON.stringify(data)
}



var fetched = fetch('/technicianspares',options)
//fetch('/technicianhome')

async function fetching(){
    var fetch = await fetched
  var data = await fetch.json()
   console.log(data)
  console.log(data.url)
 window.location.assign(data.url)
var message = data.message
//var datadeviceid = data.deviceid
//var datarows  = data.rows
//var datacustomerid = data.customerid
alertptag2.textContent = message

  
}

fetching()

}
}

})
})
   
   </script>






<script>

  $(".nav").click(function(){
    $("#mySidenav").css('width','70px');
    $("#main").css('margin-left','70px');
    $(".logo").css('visibility', 'hidden');
    $(".logo span").css('visibility', 'visible');
     $(".logo span").css('margin-left', '-10px');
     $(".icon-a").css('visibility', 'hidden');
     $(".icons").css('visibility', 'visible');
     $(".icons").css('margin-left', '-8px');
      $(".nav").css('display','none');
      $(".nav2").css('display','block');
  });

$(".nav2").click(function(){
    $("#mySidenav").css('width','300px');
    $("#main").css('margin-left','300px');
    $(".logo").css('visibility', 'visible');
     $(".icon-a").css('visibility', 'visible');
     $(".icons").css('visibility', 'visible');
     $(".nav").css('display','block');
      $(".nav2").css('display','none');
 });

</script>

</body>


</html>
