<!Doctype HTML>
<html>
<head>
	<title></title>
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	
	
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	</head>


<body>
	
	<div id="mySidenav" class="sidenav">
	<p class="logo"><span>B</span>UGA-TECH</p>
  
  <a href="technicianhome"class="icon-a"><i class="fa fa-users icons"></i> &nbsp;&nbsp;New Devices</a>
  <a href="tpending"class="icon-a"><i class="fa fa-list icons"></i> &nbsp;&nbsp;Pending Devices</a>
  <a style="color:white;" href="tready"class="icon-a"><i class="fa fa-shopping-bag icons"></i> &nbsp;&nbsp;Ready Devices</a>
  <a href="tfailed"class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Failed Devices</a>
  <a href="technicianbranchscope"class="icon-a"><i class="fa fa-user icons"></i> &nbsp;&nbsp;Branch Scope</a>
  <a href="customercreateacc"class="icon-a"><i class="fa fa-list-alt icons"></i> &nbsp;&nbsp; Customer Record</a>
  

</div>
<div id="main" style="height:100vh; overflow-y:scroll;">

	<div class="head">
		<div class="col-div-6">
<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >&#9776; Dashboard</span>
<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >&#9776; Dashboard</span>
</div>
	
	<div class="col-div-6">
<!--	<div class="profile">

		<img src="images/user.png" class="pro-img" />
		<p>Manoj Adhikari <span>UI / UX DESIGNER</span></p>
	</div> -->
	<div class="profile">

		<a class="btn btn-outline-success" href="tlogout" style="color:white;">logout</a>
	</div> 
	
</div>
	<div class="clearfix"></div>
</div>

	
	
	<!-- table div -->
	
	<div class="col-div-12">
		<div class="box-12">
		  

<div class="content-box">
 
<h1> Explorer Ready Devices</h1> <br>
<div class="alert alert-primary" role="alert">
  <p id="alertp"> <%= locals.message ? message : 'welcome'%></p>
</div>
<br>
<div style="display:flex; justify-content:space-between;">
  
<nav class="navbar navbar-light ">
  <form method="post" action="treadysearch" class="form-inline">
   <input name="search" class="form-control mr-sm-2" type="text" placeholder="Search" >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
  


</div>
<br>
		  
	
<div  class="table-responsive">
 <table class="table">
  <caption>List of users</caption>
  <thead>

    <tr>

      <th scope="col">customer id</th>

      <th scope="col">customer first name</th>

      <th scope="col">customer last name</th>

      <th scope="col">customer contact</th>

      <th scope="col">customer email</th>
      
      <th scope="col">device name</th>
      <th scope="col">device imei</th>
      <th scope="col">device serial number</th>
      <th scope="col">problem description</th>
      <th scope="col">warrant status</th>
      <th scope="col">date created</th>
      <th scope="col">device status</th>
      <th scope="col">total spare price</th>
      <th scope="col">view used spares</th>
      
    
      <th scope="col">repair success</th>
      
    </tr>

  </thead>

  <tbody>

<% 

if(rows.length > 0){  
var id = 1;
  rows.forEach( (row) => {
  
%>
    <tr>

      <th scope="row"><%= id %></th>

      <td><%= row.customerfname %></td>

      <td><%= row.customerlname %></td>

      <td><%= row.customercontact %></td>
      <td><%= row.email%></td>
      <td><%= row.devicename%></td>
      
      <td><%= row.imei%></td>
      <td><%= row.serialnumber%></td>
      <td><%= row.customercomment%></td>
      <td><%= row.warrant%></td>
      <td><%= row.datecreated%></td>
         <td><%= row.devicestatus%></td>
  <td><%= row.devicetotalcharge%></td>
  
   <td>  
  <form class="viewusedspare" method="post" action="#">
  <input type="text" name="deviceid" hidden value="<%= row.deviceid %>">
  
    <input type="text" name="customerfname" hidden value="<%= row.customerfname %>">
  
   <input type="text" name="devicename" hidden value="<%= row.devicename%>">
    
 <button name="myusedspare" class="btn btn-outline-primary" type="submit">View used spares</button>
      </form>
      </td>
  
  
     <td>Repare success</td>
    </tr>

<%  id++; }) }else{%>
<div> THERE IS NO DATA TO PRESENT</div>

 <% }%>
 
  </tbody>
</table>
</div>




		</div>
	</div>
	</div>


		
	<div class="clearfix"></div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <script type="text/javascript">
   
var alert = document.querySelector("#alertp")
   
   var table = document.querySelector("table")
   
  table.addEventListener("click",(e)=>{
  
     var target = e.target
     
     
   if(target.getAttribute("name") == "myusedspare"){
   e.preventDefault()
      //alert("they have")

 usedspareform = e.target.parentElement

formchildren = usedspareform.children
     
 var deviceid  = formchildren[0].value
var customerfname = formchildren[1].value
var devicename = formchildren[2].value
     
     
//alert(deviceid +" "+ customerfname+" " +devicename)



var data ={
deviceid:deviceid
}

var options = {
method : 'POST',
headers : { 'content-type': 'application/json' },
body:JSON.stringify(data)
}



var fetched = fetch('/technicianviewspares',options)
//fetch('/technicianhome')


async function fetching(){
    var fetch = await fetched
  var data = await fetch.json()

  console.log("my data below")
var rows = data.rows

   //var sparename = rows[0].sparename
  // var sparequantity = rows[0].quantity
   
   var message =" The spares used on "+customerfname+"'s device : "+ devicename+" are :<br>"
   alert.innerHTML = message
  
   for(var x = 0; x < rows.length; x++){
  
alert.innerHTML += "sparename : "+rows[x].sparename 
alert.innerHTML += " ,quantity  : "+rows[x].quantity+"<br>" 
     
     }
   
   //console.log(message)
}
fetching()
}    })
   
   </script>



<script>
 $(".nav").click(function(){
    $("#mySidenav").css('width','70px');
    $("#main").css('margin-left','70px');
    $(".logo").css('visibility', 'hidden');
    $(".logo span").css('visibility', 'visible');
     $(".logo span").css('margin-left', '-10px');
     $(".icon-a").css('visibility', 'hidden');
     $(".icons").css('visibility', 'visible');
     $(".icons").css('margin-left', '-8px');
      $(".nav").css('display','none');
      $(".nav2").css('display','block');
});


$(".nav2").click(function(){
    $("#mySidenav").css('width','300px');
    $("#main").css('margin-left','300px');
    $(".logo").css('visibility', 'visible');
     $(".icon-a").css('visibility', 'visible');
     $(".icons").css('visibility', 'visible');
     $(".nav").css('display','block');
      $(".nav2").css('display','none');
 });

</script>

</body>


</html>
