<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Sidebar menu With Sub-menus | Using HTML, CSS & JQuery</title>
 <!--  <link rel="stylesheet" href="style.css"> -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
  
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>TPENDING</title>
   
    <style>
     
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

#mydiv{
  
  background:url("images/blackkeyboard.jpeg");
min-height: 100%;
min-width: 100%;
background-size: cover;
 background-position: center;
z-index:-1;
 position: absolute;
 opacity:0.2;
}

body{
 
 /* background: url(bg.jpg)no-repeat; */
 background:black;
 
}

.side-bar{
 background: rgba(255, 255, 255, 0.1);
 backdrop-filter: blur(200px);
 width: 290px;
 height: 100vh;
 position: fixed;
 top: 0;
 left: -100%;
 overflow-y: auto;
 transition: 0.6s ease;
 transition-property: left;
 z-index: 1000;
}

.side-bar.active{
 left: 0;
}

.side-bar .menu{
 width: 100%;
 margin-top: 80px;
}

.side-bar .menu .item{
 position: relative;
 cursor: pointer;
}

.side-bar .menu .item a{
 color: #fff;
 font-size: 16px;
 text-decoration: none;
 display: block;
 padding: 5px 30px;
 line-height: 60px;
}

.side-bar .menu .item a:hover{
 background: #8621F8;
 transition: 0.3s ease;
}

.side-bar .menu .item i{
 margin-right: 15px;
}

.side-bar .menu .item a .dropdown{
 position: absolute;
 right: 0;
 margin: 20px;
 transition: 0.3s ease;
}

.side-bar .menu .item .sub-menu{
 background: rgba(255, 255, 255, 0.1);
 display: none;
}

.side-bar .menu .item .sub-menu a{
 padding-left: 80px;
}

.rotate{
 transform: rotate(90deg);
}

.close-btn{
 position: absolute;
 color: #fff;
 font-size: 20px;
 right: 0;
 margin: 25px;
 cursor: pointer;
}

.menu-btn{
 position:fixed;
 color: #fff;
 font-size: 40px;
 margin: 25px;
 cursor: pointer;
}

.main{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 50px;
}

.main h1{
 color: rgba(255, 255, 255, 0.8);
 font-size: 60px;
 text-align: center;
 line-height: 80px;
}

@media (max-width: 900px){
 .main h1{
   font-size: 40px;
   line-height: 60px;
 }
}
      
            tr{ 
white-space: nowrap;
}

.table{
  max-height:100%;
}
.table-responsive{
height:1000px;
  }


   </style>
   
 </head>
 <body>
   
<div id="mydiv"></div>

   <div class="menu-btn">
     <i class="fas fa-bars"></i>
   </div>
   <div class="side-bar">
     <div class="close-btn">
       <i class="fas fa-times"></i>
     </div>
     <div class="menu">
       <div class="item"><a href="technicianhome"><i class="fas fa-desktop"></i>New Devices</a></div>
       <div class="item">
         <a class="sub-btn"><i class="fas fa-table"></i>Tables<i class="fas fa-angle-right dropdown"></i></a>
         <div class="sub-menu">
          <a class="navbar-brand" href="tpending">Pending Devices</a>
           <a class="navbar-brand" href="tready">Ready Devices</a>
             <a class="navbar-brand" href="tfailed">Failed Devices</a>
         </div>
       </div>
    
  <div class="item"><a href="technicianbranchscope"><i class="fas fa-angle-right"></i>Branch Scope</a></div>
    
       <div class="item">
         <a class="sub-btn"><i class="fas fa-cogs"></i>RECORDS<i class="fas fa-angle-right dropdown"></i></a>
         <div class="sub-menu">
           <a class="navbar-brand" href="customercreateacc">CUSTOMER RECORD</a>
          
         </div>
       </div>
       <div class="item"><a href="tlogout"><i class="fas fa-info-circle"></i>logout</a></div>
     </div>
   </div>
   <!--<section class="main"> -->
     
  <div class="maincontainer" style="color:white; padding-top:50px; margin-left:15%; margin-right:10%; height:100%;">
  
 
 <h1>Ready devices page</h1> <br>
<div class="alert alert-primary" role="alert">
  <p> <%= locals.message ? message : 'welcome'%></p>
</div>
<br>
<div style="display:flex; justify-content:space-between;">
  
<nav class="navbar navbar-light ">
  <form method="post" action="treadysearch" class="form-inline">
   <input name="search" class="form-control mr-sm-2" type="text" placeholder="Search" >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
  
<span style="margin-right:30px;"><a class="btn btn-primary" href="tready">refresh</a></span>

</div>
<br>


  

<div  class="table-responsive">
 <table class="table">
  <caption>List of users</caption>
  <thead>

    <tr>

      <th scope="col">customer id</th>

      <th scope="col">customer first name</th>

      <th scope="col">customer last name</th>

      <th scope="col">customer contact</th>

      <th scope="col">customer email</th>
      
      <th scope="col">device name</th>
      <th scope="col">device imei</th>
      <th scope="col">device serial number</th>
      <th scope="col">problem description</th>
      <th scope="col">warrant status</th>
      <th scope="col">date created</th>
      <th scope="col">device status</th>
      <th scope="col">total spare price</th>
      
    
      <th scope="col">repair success</th>
      
    </tr>

  </thead>

  <tbody>

<% 

if(rows.length > 0){  
var id = 1;
  rows.forEach( (row) => {
  
%>
    <tr>

      <th scope="row"><%= id %></th>

      <td><%= row.customerfname %></td>

      <td><%= row.customerlname %></td>

      <td><%= row.customercontact %></td>
      <td><%= row.email%></td>
      <td><%= row.devicename%></td>
      
      <td><%= row.imei%></td>
      <td><%= row.serialnumber%></td>
      <td><%= row.customercomment%></td>
      <td><%= row.warrant%></td>
      <td><%= row.datecreated%></td>
         <td><%= row.devicestatus%></td>
  <td><%= row.devicetotalcharge%></td>
     <td>Repare success</td>
    </tr>

<%  id++; }) }else{%>
<div> THERE IS NO DATA TO PRESENT</div>

 <% }%>
 
  </tbody>
</table>
</div>




</div>

<!--</section>-->

   <script type="text/javascript">
   $(document).ready(function(){
     //jquery for toggle sub menus
     $('.sub-btn').click(function(){
       $(this).next('.sub-menu').slideToggle();
       $(this).find('.dropdown').toggleClass('rotate');
     });

     //jquery for expand and collapse the sidebar
     $('.menu-btn').click(function(){
       $('.side-bar').addClass('active');
       $('.menu-btn').css("visibility", "hidden");
     });

     $('.close-btn').click(function(){
       $('.side-bar').removeClass('active');
       $('.menu-btn').css("visibility", "visible");
     });
   });
   </script>

 </body>
</html>
    