<!Doctype HTML>
<html>
<head>
	<title>supervisor</title>
	
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	
	
	<link rel="stylesheet" href="css/style.css" type="text/css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	</head>


<body>
	
	<div id="mySidenav" class="sidenav">
	<p class="logo"><span>B</span>UGA-TECH</p>
 
  <a style="color:white;" href="supervisorhome"class="icon-a"><i class="fa fa-users icons"></i> &nbsp;&nbsp; Devices</a>
  
  <a href="supervisorspares"class="icon-a"><i class="fa fa-list icons"></i> &nbsp;&nbsp; Spares</a>
  
 <a href="ranktechnician"class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Rank</a>
  
  <!--
  <a href=""class="icon-a"><i class="fa fa-shopping-bag icons"></i> &nbsp;&nbsp;Analytics</a>

  <a href="tfailed"class="icon-a"><i class="fa fa-tasks icons"></i> &nbsp;&nbsp;Failed Devices</a>
  <a href="technicianbranchscope"class="icon-a"><i class="fa fa-user icons"></i> &nbsp;&nbsp;Branch Scope</a>
  <a href="customercreateacc"class="icon-a"><i class="fa fa-list-alt icons"></i> &nbsp;&nbsp; Customer Record</a>
  -->

</div>
<div id="main">

	<div class="head">
		<div class="col-div-6">
<span style="font-size:30px;cursor:pointer; color: white;" class="nav"  >&#9776; Dashboard</span>
<span style="font-size:30px;cursor:pointer; color: white;" class="nav2"  >&#9776; Dashboard</span>
</div>
	
	<div class="col-div-6">
<!--	<div class="profile">

		<img src="images/user.png" class="pro-img" />
		<p>Manoj Adhikari <span>UI / UX DESIGNER</span></p>
	</div> -->
	<div class="profile">

		<a class="btn btn-outline-success" href="supervisorlogout" style="color:white;">logout</a>
	</div> 
	
</div>
	<div class="clearfix"></div>
</div>


	
	
	<!-- table div -->
	
	<div class="col-div-12">
		<div class="box-12">
  <h1>SUPERVISOR</h1> <br>
<nav class="navbar navbar-light ">
   <form style="margin-right:30px; " method="post" action="supervisorsearch" class="form-inline">
   <input name="search" class="form-control mr-sm-2" type="text" placeholder="Search" >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
		  
		  
		<div class="content-box">
<div class="alert alert-primary" role="alert">
  <p> <%= locals.message ? message : 'welcome'%></p>
</div>
			<br/>
<div  class="table-responsive">
 <table style="max-height:90%" class="table" style="white-space:nowrap;">
  <caption>List of My Customers and there devices</caption>
  <thead class="thead-dark" >

    <tr>

      <th scope="col">customer id</th>

   <th id="devicename" scope="col">devicename</th>

 <th scope="col">device problem</th>

 <th scope="col">tachnician first name</th>
 <th scope="col">tachnician last name</th>
 <th scope="col">tachnician email</th>
 
 <th scope="col">tachnician contact</th>
 
 <th id = "date" scope="col">date created</th>
      
    </tr>

  </thead>

  <tbody>

<% 

if(rows.length > 0){  
var id = 1;
  rows.forEach( (row) => {
%>
    <tr>
   
      <td><%= id %></td>

      <td><%= row.devicename %></td>

      <td><%= row.customercomment %></td>

      <td><%= row.technicianfname %></td>
      <td><%= row.technicianlname %></td>
      <td><%= row.technicianemail%></td>
      <td><%= row.techniciannumber%></td>
      <td><%= row.datecreated%></td>
      
        
       </tr>

<%  id++; }) }else{%>
<div> THERE IS NO DATA TO PRESENT</div>

 <% }%>
 
  </tbody>
</table>
</div>


		</div>
	</div>
	</div>


		
	<div class="clearfix"></div>
</div>





<script>

document.addEventListener("DOMContentLoaded",()=>{

  let devicename = document.getElementById("devicename")
  //let date = document.getElementById("date")
// let column2 = "datecreated"

let rows = <%-JSON.stringify(rows)%>

let tbody = document.querySelector("tbody")
  let desc = false
  let datatype = typeof(rows[0].devicename)
  
  let column = "devicename"
  
  // sorting array 
  
  let sorter = (array,sortby,desc,datatype)=>{
    if(datatype == "string"){
      if(!desc){
      array.sort((a,b)=>{
  if(a[sortby] < b[sortby]) return -1
  if(a[sortby] > b[sortby]) return 1
  return 0  
      })
      }else{ 
        array.reverse()
      }
    }else if(datatype == "number"){
      if(!desc){
      array.sort((a,b)=>a.sortby -b.sortby)
      }else{ 
        array.reverse()
      }
    }
 return array
  }
  
  //display items 
  
  let displayElements = (rows)=>{
  
tbody.innerHTML = ""
   if(rows.length > 0){  
var id = 1;
  rows.forEach( (row) => {
  
tbody.innerHTML += `
    <tr>
   
      <td>  ${id} </td>

      <td>${ row.devicename }</td>

      <td>${ row.customercomment }</td>

      <td>${ row.technicianfname }</td>
      <td>${ row.technicianlname }</td>
      <td>${ row.technicianemail}</td>
      <td>${ row.techniciannumber}</td>
      <td>${ row.datecreated}</td>
      
        
       </tr> `

id++; }) }else{ 
tbody.innerHTML += `
<div> THERE IS NO DATA TO PRESENT</div>`

 }  
 
} 
  
  /*  event listener */
  //devicename sort
  devicename.addEventListener("click",()=>{
    //alert("im clicked")
    // console.log(rows)
  let newarray = sorter(rows,column,desc,datatype)
displayElements(newarray)
desc = !desc
  }) 
  
  // date sort
/*date.addEventListener("click",()=>{
    alert("im clicked")
     console.log(rows)
  let newarray = sorter(rows,column2,desc,datatype)
displayElements(newarray)
desc = !desc
  }) */
  
})
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  $(".nav").click(function(){
    $("#mySidenav").css('width','70px');
    $("#main").css('margin-left','70px');
    $(".logo").css('visibility', 'hidden');
    $(".logo span").css('visibility', 'visible');
     $(".logo span").css('margin-left', '-10px');
     $(".icon-a").css('visibility', 'hidden');
     $(".icons").css('visibility', 'visible');
     $(".icons").css('margin-left', '-8px');
      $(".nav").css('display','none');
      $(".nav2").css('display','block');
  });

$(".nav2").click(function(){
    $("#mySidenav").css('width','300px');
    $("#main").css('margin-left','300px');
    $(".logo").css('visibility', 'visible');
     $(".icon-a").css('visibility', 'visible');
     $(".icons").css('visibility', 'visible');
     $(".nav").css('display','block');
      $(".nav2").css('display','none');
 });

</script>

</body>


</html>
